@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Great+Vibes&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  text-decoration: none; 
  border: none;
  outline: none; 
  scroll-behavior: smooth; 
}

html {
  overflow-x: hidden; 
}

body {
  background-color:#E8CFC1 ;
}


header {
  display: flex;
  justify-content: space-between;
  height: 200px;
  background-color: rgba(149, 101, 81, 0.849);
  color: #ffffffd2;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 5;
  backdrop-filter: blur(20px);

}

#image-profile {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 50px;
}

h2 {
  font-family: "Merriweather", serif;
  color:rgba(255, 243, 239, 0.974);
  margin-top: 07px;
  margin-right: 550px;
  
}

hr{
  border: 1px solid #E8CFC1;
  width: 365px;
  margin: 10px;
  margin-left: 0px;


}

blockquote{
  font-family: "PT Serif", serif;
  font-weight: 10;
  color: rgb(71, 49, 40);
}

.links {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;

}

.links a {
  display: flex;
  margin-right: 80px;
  color: #ffffff;
  font-size: 1.2rem; 
  border-bottom: 3px solid transparent; 
  border-radius: 3px;
  transition: 0.3s ease;
  cursor: pointer;
}


.links a:hover {
  border-bottom: 3px solid rgb(71, 49, 40);
  color:  rgb(71, 49, 40);
  transform: scale(1.1);
  border-radius: 3px;

}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

#home h3,
#historia h3{
  font-size: 25px;
  margin-left: 70px;
  margin-top: 11%;
  color: rgb(149, 101, 81)
}

#home p,
#historia p{
  font-size: 15px;
  font-weight: bolder;
  margin-left: 70px;
  margin-top: 15px;
  color: rgb(131, 99, 86)
}

#main-img img,
#historia-img img{
  height: 200px;
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 70px;
  margin-top: 75px;
}

.promocao h3{
  color: rgb(149, 101, 81);
  text-align: left;
  margin-top: 40px;
  font-size: 25px;
  margin-left: 70px;


}
.promocao hr{
  border: 2px solid rgba(149, 101, 81, 0.849);
  width: 260px;
  margin: 10px;
  margin-left: 70px;


}

#frase-Motivacional{
  height: 700px;
  width: 91%;
  margin-left: 70px;
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

section{
  font-size: 20px;
  margin-left: 70px;
  
}

.missao h3,
.visao h3,
.valores h3 {
  margin: 10px;
  color: rgb(71, 49, 40);
  position: relative;
  text-align: center;


}
.missao,
.visao, 
.valores{
  text-align: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.missao p,
.visao p,
.valores p{
  margin-top: 30px;
  text-align: center;
}